*{
    /* border: 1px solid red; */
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

li {
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
}



#content {
    background-color: rgb(255, 217, 2);
}



#header, #content, #footer {
    padding: 30px;
}

#footer {
    color: rgb(193, 20, 20);
}

#header-title {
    color: rgb(0, 64, 255);
}


h1 {
    margin: 30px;
    margin-bottom: 0;
}

h2 {
    margin-bottom: 16px;
}